name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

jobs:
  linux-test:
    name: Testing on Linux
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install development dependencies
      run: |
        python -m pip install -r requirements-dev.txt

    - name: Install Python package
      run: |
        python -m pip install .

    - name: Run Python tests
      run: |
        python -m pytest
